@import "reset.css";
@import url("fontello.css");

body {
    background-image: radial-gradient(circle, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)),
    url(../img/bg_main.png);
    height: 100vh;
    position: relative;
    color: #545556;
    font-family: 'Helvetica', sans-serif;
}

.cardboard {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 262px;
    height: 320px;
    background-color: #4e5052;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%), url(../img/fzm-leather.texture-04-[300x300].jpg);
    border: 1px solid #242526;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 5px rgba(0, 0, 0, 0.59), 0 1px 7px rgba(0, 0, 0, 0.47);
    border-radius: 5px;
    padding: 10px;
}

.paper {
    height: 290px;
    background-color: white;
    border: 1px solid #cecfd1;
    border-radius: 3px;
    position: relative;
    z-index: 1000;
    /*padding: 0 10px 0 10px;*/
}

.paper:after,
.paper:before {
    content: '';
    position: absolute;
    height: 2px;
    background-color: white;
    border: 1px solid #cecfd1;
    border-top: none;
    border-radius: 0 0 3px 3px;
    z-index:0;
}

.paper:after {
    bottom: -4px;
    left: 1px;
    right: 1px;
}

.paper:before {
    bottom: -6px;
    left: 3px;
    right: 3px;
}

.todos__item {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33);
    color: #68798b;
    font-family: 'Marck Script', sans-serif;
    font-size: 12px;
    border-bottom: 1px solid #f2e3df;
    padding: 5px 10px;
}

.header {
    border-bottom: 1px solid #f2e3df;
    padding: 20px 0 5px;
}

.icon {
    float: right;
    margin-right: 10px;
}
.icon-trash-empty {
    margin-right: 0;
}

.header h1 {
    font-size: 1em;
    font-weight: 700;
    float: left;
    margin-left: 30px;
}

.task-complete {
    text-decoration: line-through;
}

.paginator {
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

#addTaskIcon {
    position: relative;
}

input[type=checkbox],
.icon {
    cursor: pointer;
}

#addTaskHint {
    position: absolute;
    padding: 8px;
    bottom: -32px;
    right: -21px;
    background-color: rgba(132, 132, 132, 0.7);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    white-space: nowrap;
    display: none;
}

#addTaskHint:after {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 50%;
    margin-right: -6px;
    height: 0;
    width: 0;
    border: 6px solid rgba(0, 0, 0, 0);
    border-bottom-color: rgba(132, 132, 132, 0.7);
}

#addTaskIcon:hover #addTaskHint {
    display: block;
}